/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Jost", system-ui;
  font-optical-sizing: auto;
  font-size: 16px;
  line-height: normal;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1190px;
}

.container-lg {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1750px;
}

.container-right {
  padding-left: calc((100% - 1190px) / 2 + 15px);
}

.main-title {
  font-weight: 600;
  font-size: 70px;
  line-height: 1.6;
}
.main-title--medium {
  font-size: 50px;
}
.main-title--small {
  font-size: 30px;
}
.main-title--xs {
  font-size: 24px;
}

.descr {
  font-size: 20px;
  line-height: 1.6;
}
.descr--sm {
  font-size: 18px;
}

.none {
  display: none !important;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.no-scroll {
  overflow-y: hidden;
}

.disabled {
  pointer-events: none;
}

.svg-tooltip {
  width: 3px;
  height: 13px;
  fill: #141024;
}

.svg-arrow-right,
.svg-arrow-left {
  width: 40px;
  height: 40px;
  fill: #141024;
  transition: fill 0.3s ease-in;
}
.svg-arrow-right:hover,
.svg-arrow-left:hover {
  fill: #615592;
}

.svg-facebook,
.svg-instagram {
  width: 30px;
  height: 30px;
  fill: #141024;
  transition: fill 0.3s ease-in;
}
.svg-facebook:hover,
.svg-instagram:hover {
  fill: #d52027;
}

.header {
  padding-top: 30px;
  background-color: #141024;
  color: #fff;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.header__tel {
  position: relative;
  font-weight: 600;
  font-size: 30px;
  text-decoration: none;
  line-height: 1.6;
  color: #fff;
}
.header__tel::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.4s ease-in;
}
.header__tel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.4s ease-in;
}
.header__tel:hover::after {
  transform: scale(1);
  transform-origin: left;
}
.header__tel:hover::before {
  transform: scale(1);
  transform-origin: right;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.6;
}

.nav__list {
  display: flex;
  gap: 40px;
}

.nav__link {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  line-height: 1.6;
  color: #fff;
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.4s ease-in;
}
.nav__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.4s ease-in;
}
.nav__link:hover::after {
  transform: scale(1);
  transform-origin: left;
}
.nav__link:hover::before {
  transform: scale(1);
  transform-origin: right;
}

.promo {
  padding-top: 93px;
  max-height: 1010px;
  background-color: #141024;
  color: #fff;
}

.promo__row {
  display: flex;
  gap: 44px;
}

.promo__content {
  max-width: 516px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.promo__title {
  margin-top: 182px;
  margin-bottom: 20px;
}

.promo__descr {
  max-width: 478px;
  margin-bottom: 50px;
}
.promo__descr p + p {
  margin-top: 10px;
}

.promo__img {
  flex: 1;
}

.btn-action {
  display: inline-block;
  padding: 25px 54px;
  max-height: 79px;
  font-size: 18px;
  line-height: 1.6;
  text-decoration: none;
  border: 3px solid transparent;
  border-radius: 5px;
  color: #fff;
  background-color: #d52027;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
.btn-action--promo:hover {
  background-color: #fff;
  border-color: #d52027;
  color: #d52027;
}

.btn-coaches {
  position: relative;
  padding: 5px;
  font-size: 18px;
  line-height: 1.6;
  color: #d52027;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
.btn-coaches:active {
  background-color: #d52027;
  color: #fff;
}
.btn-coaches::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #d52027;
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.4s ease-in;
}
.btn-coaches::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #d52027;
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.4s ease-in;
}
.btn-coaches:hover::after {
  transform: scale(1);
  transform-origin: left;
}
.btn-coaches:hover::before {
  transform: scale(1);
  transform-origin: right;
}

.btn-next, .btn-prev {
  width: 40px;
  height: 40px;
}

.btn-cta {
  height: 64px;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  background-color: #141024;
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
}
.btn-cta:hover {
  background-color: #fff;
  color: #d52027;
}

.btn-modal {
  font-size: 18px;
  line-height: 1.6;
  color: rgba(20, 16, 36, 0.7);
  transition: color 0.3s ease-in;
}
.btn-modal:hover {
  color: #d52027;
}

.about {
  padding: 120px 0;
  scroll-margin-top: -100px;
}

.about__desrc {
  margin-bottom: 60px;
  max-width: 891px;
  font-size: 30px;
  line-height: 1.6;
}

.about__text-bold {
  font-weight: 600;
}

.about__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adout__item {
  max-width: 260px;
}

.about-item__title {
  color: #d52027;
}
.about-item__title .num {
  opacity: 0;
}

.perspectives {
  padding: 100px 0;
  background-color: #f9f9f9;
}

.perspectives__title {
  margin-bottom: 60px;
}

.perspectives__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.perspectives__item {
  max-width: 360px;
}

.perspectives__subtitle {
  position: relative;
}

.perspectives__tooltip {
  position: absolute;
  top: 2px;
  left: 112px;
}

.tooltip {
  position: relative;
}

.tooltip__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(20, 16, 36, 0.08);
  cursor: pointer;
}

.tooltip__text {
  width: 251px;
  max-height: 56px;
  padding: 15px 20px;
  position: absolute;
  top: -40px;
  left: 0;
  line-height: 1.6;
  background-color: #fff;
  color: #141024;
  border-radius: 5px;
  transform: translate(0%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in;
}
.tooltip__text--visible {
  opacity: 1;
}

.coaches {
  padding-top: 120px;
  scroll-margin-top: -100px;
}

.coaches__title {
  margin-bottom: 60px;
}

.coaches__content {
  margin-bottom: 60px;
}

.coaches__slider-nav {
  display: flex;
  align-items: center;
}

.coaches__scrollbar {
  width: 360px;
  height: 5px;
  border-radius: 40px;
  background-color: rgba(20, 16, 36, 0.08);
}

.coaches__scrollbar-drag {
  width: 260px;
  border-radius: 40px;
  background-color: #141024;
}

.coaches__nav {
  margin-left: 690px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.coaches-card {
  max-width: 360px;
}

.coaches-card__img {
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #C4C4C4;
  border-radius: 20px;
}
.coaches-card__img img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 36/50;
}

.coaches-card__title {
  margin-bottom: 10px;
}

.coaches-card__descr {
  margin-bottom: 20px;
}
.coaches-card__descr p + p {
  margin-top: 10px;
}

.packeges {
  padding: 120px 0 140px;
}

.packeges__title {
  margin-bottom: 80px;
}

.packeges__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.package-card {
  width: 360px;
  height: 460px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 63px;
  border: 1px solid rgba(20, 16, 36, 0.2);
  border-radius: 20px;
  transition: color 0.3s ease-in, background-color 0.3s ease-in, transform 0.3s ease-in;
}

.package-card:hover {
  color: #fff;
  background-color: #141024;
  transform: scale(1.1);
}

.package-card__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.package-card__descr {
  text-align: center;
}

.package-card__btn {
  margin-top: auto;
}

.cta {
  padding: 87px 0;
  background-color: #d52027;
  background-image: url("./../img/icons/percent.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.cta__row {
  display: flex;
  gap: 64px;
}

.cta__content {
  width: 476px;
  color: #fff;
}

.cta__title {
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 1.3;
}

.cta__descr p + p {
  margin-top: 10px;
}

.form {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__input {
  height: 64px;
  padding: 19px 20px;
  border-radius: 5px;
  background-color: #f6f6f6;
}
.form__input::-moz-placeholder {
  font-size: 18px;
  color: rgba(40, 41, 68, 0.7);
}
.form__input::placeholder {
  font-size: 18px;
  color: rgba(40, 41, 68, 0.7);
}

.footer {
  padding: 32px 0 40px;
  background-color: #141024;
  color: #fff;
}

.footer__row {
  display: flex;
  align-items: flex-start;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__copy {
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.7);
}

.footer__tel {
  margin-left: auto;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.6;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in;
}
.footer__tel:hover {
  color: #d52027;
}

.modal {
  position: fixed;
  z-index: 2;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in;
}
.modal--open {
  opacity: 1;
  pointer-events: all;
}

.modal__body {
  position: relative;
  padding: 40px;
  width: 940px;
  max-height: 768px;
  background-color: #fff;
  border-radius: 20px;
}

.modal__top {
  display: flex;
  margin-bottom: 40px;
}

.modal__img {
  overflow: hidden;
  width: 160px;
  height: 222px;
  border-radius: 20px;
}
.modal__img img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/22;
}

.modal__content {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal__social {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1;
}

.modal__btn {
  margin-left: auto;
}

.tabs__list {
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 180px;
  border-bottom: 1px solid rgba(20, 16, 36, 0.11);
}

.tabs__btn {
  font-size: 20px;
  line-height: 1.6;
  color: rgba(20, 16, 36, 0.2);
  text-decoration: none;
  transition: color 0.2s ease-in;
}
.tabs__btn:hover {
  color: #141024;
}
.tabs__btn--active {
  color: #d52027;
}

.tabs__content {
  overflow-y: scroll;
  max-height: 354px;
}

.tabs__content::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.tabs__content::-webkit-scrollbar-thumb {
  background-color: #141024;
  border-radius: 40px;
}

.tabs__block {
  display: none;
}
.tabs__block--active {
  display: block;
}

.tabs__descr {
  margin-bottom: 40px;
}
.tabs__descr p + p {
  margin-top: 5px;
}

.tabs__title {
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */