.about {
    padding: 120px 0;

    @include scrollTopMargin;

    @include notebook {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.about__desrc {
    margin-bottom: 60px;
    max-width: 891px;
    font-size: 30px;
    line-height: 1.6;
}

.about__text-bold {
    font-weight: 600;
}

.about__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.adout__item {
    max-width: 260px;

    @include notebook {
        max-width: unset;
        width: 50%;
        text-align: center;
    }
}


