.coaches {
    padding-top: 120px;
}

.coaches__title {
    margin-bottom: 60px;
}

.coaches__content {
    margin-bottom: 60px;
}


.coaches__slider-nav {
    display: flex;
    align-items: center;
}

.coaches__scrollbar {
    width: 360px;
    height: 5px;
    border-radius: 40px;
    background-color: rgba(20, 16, 36, 0.08);
}

.coaches__scrollbar-drag {
    width: 260px;
    border-radius: 40px;
    background-color: #141024;
}

.coaches__nav {
    margin-left: 690px;
    display: flex;
    align-items: center;
    gap: 10px;
}
