.cta {
    padding: 87px 0;
    background-color: #d52027;
    background-image: url('./../img/icons/percent.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;

    @include mobileXS {
        padding-top: 40px;
        padding-bottom: 40px;
        background-image: unset;
    }
}

.cta__row {
    display: flex;
    gap: 64px;

    @include mobile {
        flex-direction: column;
    }

    @include mobileXS {
       gap: 40px; 
    }
}

.cta__content {
    width: 476px;
    color: #fff;

    @include mobile {
        width: 100%;
    }

    @include mobileXS {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.cta__title {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 1.4;

    @include tablet {
        font-size: 33px;
    }

    @include mobile {
        margin-bottom: 10px;
        font-size: 29px;
        text-align: center;
        text-wrap: balance;
    }
}

.cta__descr {
    p+p{
        margin-top: 10px;
    }

    @include mobile {
        text-align: center;
    }

    @include mobileXS {
        max-width: 250px;
        text-align: center;
    }
}

.cta__form {}


