.footer {
    padding: 32px 0 40px;
    background-color: #141024;
    color: #fff;
}
.footer__row {
    display: flex;
    align-items: flex-start;
}

.footer__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer__logo {}

.footer__copy {
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.7);
}

.footer__tel {
    margin-left: auto;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.6;
    color: #fff;
    text-decoration: none;

    transition: color 0.3s ease-in;
    

    &:hover {
        color: #d52027;
    }
}