.header {
    padding: 30px 0;
    background-color: #141024;
    color: #fff;

    @include tablet {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.header__nav {}

.header__tel {
    position: relative;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
    line-height: 1.6;
    color: #fff;

    @include animatedHover(#fff);

    @include tablet {
        display: none;
    }
}

.header__mobile-btns {
    display: none;

    @include tablet {
        display: flex;
        gap: 10px;
    }
}