.packeges {
    padding: 120px 0 140px;

    @include notebook {
        padding-top: 60px;
        padding-bottom: 70px;
    }
}

.packeges__title {
    margin-bottom: 80px;

    @include notebook {
        margin-bottom: 60px;
    }

    @include mobile {
        text-align: center;
        text-wrap: balance;
    }

    @include mobileXS {
        margin-bottom: 40px;
    }
}

.packeges__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @include notebook {
        justify-content: flex-start;
        gap: 20px;
    }

    @include tablet {
        justify-content: space-between;
        row-gap: 30px;
    }

    @include mobile {
        justify-content: center;
    }
}