.perspectives {
    padding: 100px 0;
    background-color: #f9f9f9;
}

.perspectives__title {
    margin-bottom: 60px;
}

.perspectives__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.perspectives__item {
    max-width: 360px;
}

.perspectives__subtitle {
    position: relative;
}

.perspectives__tooltip {
    position: absolute;
    top: 2px;
    left: 112px;
}


.perspectives__descr {}
