.perspectives {
    padding: 100px 0;
    background-color: #f9f9f9;

    @include notebook {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @include mobileXS {
        padding-top: 40px;
        padding-bottom: 52px;
    }
}

.perspectives__title {
    margin-bottom: 60px;

    @include notebook {
        margin-bottom: 40px;
    }

    @include mobileXS {
        margin-bottom: 40px;
        text-align: center;
    }
}

.perspectives__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include notebook {
        flex-direction: column;
        gap: 30px;
    }

    @include mobileXS {
        text-align: center;
    }
}

.perspectives__item {
    max-width: 360px;

    @include notebook {
        max-width: unset;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.perspectives__subtitle {
    position: relative;

    @include notebook {
        margin-bottom: 15px;
    }

    @include mobileXS {
        margin-top: 10px;
    }
}

.perspectives__tooltip {
    position: absolute;
    top: 2px;
    left: 112px;

    @include mobileXS {
        left: 94px;
    }
}


.perspectives__descr {}
