.promo {
    padding-top: 63px;
    background-color: #141024;
    color: #fff;

    @include notebook {
        padding-top: 50px;
    }

    @include mobile {
        padding-top: 45px;
    }

    @include mobileXS {
        padding-top: 37px;
        padding-bottom: 40px;
    }
}

.promo__row {
    display: flex;
    gap: 44px;

    @include notebook {
        flex-direction: column;
        align-items: center;
    }

    @include mobileXS {
        position: relative;
        gap: 0;
    }
}

.promo__content {
    width: 516px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;

    @include notebook {
        align-items: center;
    }

    @include mobileXS {
        width: 100%;
    }
}

.promo__title {
    margin-top: 182px;
    margin-bottom: 20px;

    @include notebook {
        margin-top: unset;
    }
}

.promo__descr {
    max-width: 478px;
    margin-bottom: 50px;

    p+p {
        margin-top: 10px;
    }

    @include notebook {
        text-align: center;
    }

    @include mobileXS {
        max-width: 300px;
        margin-bottom: 0;
    }
}

.promo__action {
    @include mobileXS {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
    }
}

.promo__img {
    max-width: 783px;
    max-height: 918px;

    img {
        object-fit: cover;
        aspect-ratio: 78 / 91;
    }

    @include notebook {
        max-width: 600px;
    }
}