.btn-action {
    display: inline-block;
    padding: 25px 54px;
    max-height: 79px;
    font-size: 18px;
    line-height: 1.6;
    text-decoration: none;

    border: 3px solid transparent;
    border-radius: 5px;
    color: #fff;
    background-color: #d52027;

    transition: background-color .3s ease-in, color .3s ease-in;

    @include mobileXS {
        font-style: 16px;
    }

    &--promo {
        &:hover {
            background-color: #fff;
            border-color: #d52027;
            color: #d52027;
        }

        @include mobileXS {
            width: 100%;
            font-size: 16px;
            text-align: center;
        }
    }


}

.btn-coaches {
    position: relative;
    padding: 5px;
    font-size: 18px;
    line-height: 1.6;
    color: #d52027;

    transition: background-color 0.3s ease-in, color 0.3s ease-in;


    &:active {
        background-color: #d52027;
        color: #fff
    }

    @include animatedHover(#d52027);

}

.btn-next,
.btn-prev {
    width: 40px;
    height: 40px;
}

.btn-cta {
    height: 64px;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    background-color: #141024;

    transition: color 0.3s ease-in, background-color 0.3s ease-in;


    &:hover {
        background-color: #fff;
        color: #d52027;
    }
}

.btn-modal {
    font-size: 18px;
    line-height: 1.6;
    color: rgba(20, 16, 36, 0.7);

    transition: color 0.3s ease-in;

    &:hover {
        color: #d52027;
    }
}

.btn-mobile {
    position: relative;
    padding: 10px;
    height: 44px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.08);
}


.btn-burger {
    width: 44px;
    height: 44px;
    padding: 17px 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 3px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.08);

    span {
        width: 26px;
        border: 2px solid #fff;
        border-radius: 3px;

        &:last-child {
            width: 13px;
            align-self: flex-start;
        }
    }
}