.btn-action {
    display: inline-block;
    padding: 25px 54px;
    max-height: 79px;
    font-size: 18px;
    line-height: 1.6;
    text-decoration: none;

    border: 3px solid transparent;
    border-radius: 5px;
    color: #fff;
    background-color: #d52027;

    transition: background-color .3s ease-in, color .3s ease-in;

    @include mobileXS {
        font-size: 16px;
    }

    &--promo {
        &:hover {
            background-color: #fff;
            border-color: #d52027;
            color: #d52027;
        }

        @include mobileXS {
            width: 100%;
            font-size: 16px;
            text-align: center;
        }
    }


}

.btn-coaches {
    position: relative;
    padding: 5px;
    font-size: 18px;
    line-height: 1.6;
    color: #d52027;

    transition: background-color 0.3s ease-in, color 0.3s ease-in;


    &:active {
        background-color: #d52027;
        color: #fff
    }

    @include animatedHover(#d52027);

}

.btn-next,
.btn-prev {
    width: 40px;
    height: 40px;
}

.btn-cta {
    height: 64px;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    background-color: #141024;

    transition: color 0.3s ease-in, background-color 0.3s ease-in;


    &:hover {
        background-color: #fff;
        color: #d52027;
    }

    @include mobileXS {
        font-size: 16px;
    }
}

.btn-modal {
    position: relative;
    font-size: 18px;
    line-height: 1.6;
    color: rgba(20, 16, 36, 0.7);

    transition: color 0.3s ease-in;

    &:hover {
        color: #d52027;
    }

    &--mobile {
        width: 20px;
        height: 20px;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 20px;
            height: 2px;
            border-radius: 3px;
            background-color: #141024;
            transform: rotate(45deg);
        }

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 20px;
            height: 2px;
            border-radius: 3px;
            background-color: #141024;
            transform: rotate(130deg);
        }
    }

}

.btn-wrapper {
    width: 45px;
    height: 45px;
    padding: 1px;
    border-radius: 10px;
    background: linear-gradient(to bottom, white, transparent);
}

.btn-mobile {
    position: relative;
    display: inline-block;
    padding: 10px;
    height: 43px;
    border-radius: 10px;
    background: #141024;

    &::after {
        content: "";
        position: absolute;
        top: 0.5px;
        left: -0.5px;
        right: 0.5px;
        bottom: -0.5px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.08);
    }
}

.btn-burger {
    position: relative;
    width: 43px;
    height: 43px;
    padding: 17px 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;

    border-radius: 10px;
    background-color: #141024;

    span {
        width: 26px;
        border: 2px solid #fff;
        border-radius: 3px;

        &:last-child {
            width: 13px;
            align-self: flex-start;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 0.5px;
        left: -0.5px;
        right: 0.5px;
        bottom: -0.5px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.08);
    }
}

.btn-top {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 22;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    padding: 17px 9px;
    border-radius: 10px;
    background-color: rgba(97, 85, 146, 0.5);

    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in;

    &--visible {
        opacity: 1;
        pointer-events: all;
    }

    @include mobileXS {
        right: 20px;
        bottom: 20px;
    }
}