.nav {}

.nav__list {
    display: flex;
    gap: 40px;
}

.nav__item {}

.nav__link {
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    line-height: 1.6;
    color: #fff;

    @include animatedLink(#fff)
}