.tooltip {
    position: relative;
}

.tooltip__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(20, 16, 36, 0.08);
    cursor: pointer;
}

.tooltip__text {
    width: 251px;
    max-height: 56px;
    padding: 15px 20px;

    position: absolute;
    top: -40px;
    left: 0;

    line-height: 1.6;
    background-color: #fff;
    color: #141024;
    border-radius: 5px;

    transform: translate(0%, -50%);

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in;
    

    &--visible {
        opacity: 1;
    }
}