.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1190px;

    @include notebook {
        max-width: 1024px;
    }

    @include tablet {
        max-width: 768px;
    }

    @include mobile {
        max-width: 540px;
    }

    @include mobileXS {
        max-width: 320px;
    }
}

.container-lg {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1750px;

    @include mobileXS {
        max-width: unset;
        width: 100%;
    }
}

.container-right {
    padding-left: calc((100% - 1190px) / 2 + 15px);

    @include notebook {
        padding: 0 15px;
        max-width: 1024px;
        margin: 0 auto;
    }
}
