.svg-tooltip {
    width: 3px;
    height: 13px;
    fill: #141024;
}

.svg-arrow-right,
.svg-arrow-left {
    width: 40px;
    height: 40px;
    fill: #141024;

    transition: fill 0.3s ease-in;
    

    &:hover {
        fill: #615592;
    }
}

.svg-facebook,
.svg-instagram {
    width: 30px;
    height: 30px;
    fill: #141024;

    transition: fill 0.3s ease-in;
    

    &:hover {
        fill: #d52027;
    }
}

.svg-call {
    width: 24px;
    height: 24px;
    fill: #fff;
}

.svg-close {
    width: 32px;
    height: 32px;
    fill: #141024;
}