.main-title {
    font-weight: 600;
    font-size: 70px;
    line-height: 1.6;

    &--medium {
        font-size: 50px;
    }

    &--small {
        font-size: 30px;
    }

    &--xs {
        font-size: 24px;
    }
}

.descr {
    font-size: 20px;
    line-height: 1.6;

    &--sm {
        font-size: 18px;
    }
}